html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1c2837, #050608);
}

.solar-sys {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solar-sys div:not(.sun) {
  position: absolute;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(102, 166, 229, 0.12);
}

.solar-sys *::before,
.solar-sys *::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.sun {
  border: none;
  width: 40px;
  height: 40px;
  background: radial-gradient(ellipse at center, #ffd000, #f9b700, #e06317);

  border-radius: 50%;
}

.mercury {
  width: 70px;
  height: 70px;
  animation: orb 7s linear infinite;
}

.mercury::before {
  width: 4px;
  height: 4px;

  top: 30%;
  background: #9f5e26;
}

.venus {
  width: 100px;
  height: 100px;
  animation: orb 18s linear infinite;
}

.venus::before {
  top: 25%;
  width: 8px;
  height: 8px;
  background: #beb768;
}

.earth {
  width: 145px;
  height: 145px;
  animation: orb 30s linear infinite;
}

.earth::before {
  width: 6px;
  height: 6px;
  top: 33%;
  background: #11abe9;
}

.earth::after {
  left: -4%;
  top: 30%;
  width: 18px;
  height: 18px;
  box-shadow: 0 -10px 0 -8px grey;
  animation: orb 4s linear infinite;
}

.mars {
  width: 190px;
  height: 190px;
  animation: orb 56s linear infinite;
}

.mars::before {
  top: 35%;
  width: 6px;
  height: 6px;
  background: #cf3921;
}

.jupiter {
  width: 340px;
  height: 340px;
  animation: orb 355s linear infinite;
}

.jupiter::before {
  top: 31.5%;
  width: 18px;
  height: 18px;
  background: #c76e2a;
}

.saturn {
  width: 440px;
  height: 440px;
  animation: orb 882s linear infinite;
}

.saturn::before {
  top: 36.5%;
  width: 12px;
  height: 12px;
  background: #e7c194;
}

.uranus {
  width: 520px;
  height: 520px;
  animation: orb 4911s linear infinite;
}

.uranus::before {
  top: 39%;
  width: 10px;
  height: 10px;
  background: #b5e3e3;
}

.neptune {
  width: 630px;
  height: 630px;
  animation: orb 179s linear infinite;
}

.neptune::before {
  top: 40%;
  width: 10px;
  height: 10px;
  background: #175e9e;
}

.pluto {
  width: 780px;
  height: 780px;
  animation: orb 7439s linear infinite;
}

.pluto::before {
  top: 45%;
  width: 3px;
  height: 3px;
  background: #fff;
}

@keyframes orb {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}
